.dashboard-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  padding: 20px;
  height: 80%;
  width: 80%;
  gap: 0.8rem;
  background-color: $off-white-color;
  border-radius: 20px;
  // overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 9px 9px $complimentary-color-3;
  .dashboard-brand {
    margin-top: 0;
    // display: flex;
    // background-color: black;
    align-items: center;
    justify-items: center;
    // gap: 0.1rem;
    h2 {
      font-size: 2rem;
      text-align: center;
      color: $white-color;
      text-transform: uppercase;

      background: linear-gradient(
        to right,
        rgba(161, 140, 209, 1),
        rgba(251, 194, 235, 1)
      ) !important;

      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      text-shadow: 2px 2px 0.2px #000000;
    }
  }
}

.table {
  width: 100%;

  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: $complimentary-color-2;
    text-align: center;
  }
  thead {
    border-top: 2px solid $complimentary-color-2;
    border-bottom: 2px solid $complimentary-color-2;
    tr {
      .row-head {
        width: 100%;
        border-radius: 20px;
        padding: 17px 0;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 5px solid #000000;
        background-color: $complimentary-color-2;
        box-shadow: 3px 3px $complimentary-color-3;
        .row-head-col {
          font-size: 1.3rem;
          font-weight: 600;
          width: 33%;
          // border: 10px solid magenta;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: $complimentary-color-3;
      border: 1px solid #000000;
    }
  }

  tbody {
    width: 100%;

    .table-body {
      width: 100%;
      margin-top: 1rem;
      // background-color: #000000;

      .row {
        width: 100%;
        border-radius: 20px;
        padding: 17px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 5px solid #000000;
        background-color: $complimentary-color;
        box-shadow: 3px 3px $complimentary-color-3;
        margin-bottom: 0.8rem;

        .row-body-col {
          padding: 4px 0;
          font-size: 1.1rem;
          font-weight: 400;
          width: 33%;
          // border: 10px solid magenta;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          text-align: center;
          .redd {
            color: $red-color-2;
          }
          overflow: hidden;
          .greenn {
            color: $green-color;
          }
          .row-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #000000;
            .table-icons-ok {
              font-size: 1.7rem;
              margin: 0 25px;
              border-radius: 50%;
              box-shadow: 2px 2px $complimentary-color-2;
              transition: all 0.2s ease;
              &:hover {
                color: $green-color;
                box-shadow: 2px 2px $complimentary-color-3;
                transition: all 0.2s ease;
              }
            }
            .table-icons-no {
              font-size: 1.7rem;
              margin: 0 25px;
              border-radius: 50%;
              box-shadow: 2px 2px $complimentary-color-2;
              transition: all 0.2s ease;
              &:hover {
                color: $red-color;
                box-shadow: 2px 2px $complimentary-color-3;
                transition: all 0.2s ease;
              }
            }
          }
          a {
            text-decoration: none;
            color: $dark-color;
            &:hover {
              color: white;
            }
          }
        }
      }

      // border-bottom: 20px solid #F1F1F1;
      // background-color: blue;
      color: $dark-color;
      td {
        padding: 10px;
        // border: 1px solid green;
      }
      th {
        padding-left: 10px;
        border: 1px solid yellow;
      }
    }

    // :first-child{
    //     border: 5px solid cyan;
    //     border-radius: 20%;

    //             }
  }
}
.file-label {
  background: $complimentary-color;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  // color: #fff;
  transition: color 0.2s ease-in-out;
  color: $white-color;

  background: linear-gradient(
    to right,
    rgba(161, 140, 209, 1),
    rgba(251, 194, 235, 1)
  ) !important;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-shadow: 2px 2px 0.2px #000000;
  transition: 0.9s ease-in-out;

  text-align: center;
  p {
    font-size: 0.7rem;
    color: $dark-color;
  }

  &:hover {
    color: #f5f5f5;
    transition: color 0.2s ease-in-out;
    text-align: center;
    color: $white-color;

    background: linear-gradient(
      to right,
      rgba(161, 140, 209, 1),
      rgba(251, 194, 235, 1)
    ) !important;

    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white !important;
    text-shadow: 2px 2px 0.2px #000000;
    // transition: 0.9s ease-in-out;
  }
}
